{
  "customLayouts": {
    "brand": {},
    "category": {},
    "page": {
      "my-purchases.html": "/my-purchases/"
    },
    "product": {}
  },
  "normalStoreUrl": "https://edias.mybigcommerce.com",
  "port": "3000",
  "packageManager": "npm"
}